@font-face {
    font-family: 'FutureShit';
    src: url('../static/fonts/fuente.otf') format('truetype');
}


body {
    font-family: 'FutureShit', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/bodyBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    cursor: url('images/puntero.png'), auto;
}


header {
    position: relative;
    width: 100%;
    /*100% del ancho del contenedor padre*/
    height: 185px;
    color: #fff;
    text-align: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


/*Estilo para la barra de Scroll*/
::-webkit-scrollbar {
    width: 12px;
}

/*Estilo para el rastro de la barra de scroll (lo que aparece detras de la barra)*/
::-webkit-scrollbar-track {
    background-color: mediumpurple;
}

/*Estilo para el pulgar de la barra de desplazamiento*/
::-webkit-scrollbar-thumb {
    background-color: rebeccapurple;
    border-radius: 20px;
}

/*Cambiar el color del pulgar al pasar el ratón sobre él*/
::-webkit-scrollbar-thumb:hover {
    background-color: #771CF3;
    border-radius: 2000px;
}

.imagenTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /*La imagen ocupa toda la altura del contenedor padre*/
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.imagenTitulo img {

    width: 100%;
    height: auto;
    /*Permite que la altura se ajuste automáticamente*/
}

.contenedorHistoria {
    opacity: 0.9;
}

.parrafo {
    opacity: 0.9;
    background-color: #fff;
    padding: 20px;
    text-align: left;
    margin: 10px auto;
    max-width: 800px;
    border-radius: 8px;
    border-top: 10px solid rebeccapurple;
    border-bottom: 10px solid rebeccapurple;
    text-align: center;
    margin-bottom: -25px;
}

.parrafo h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.parrafo p {
    font-size: 16px;
    color: #555;
}

.parrafo ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.parrafo li {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    cursor: url('images/punteroMano.png'), auto;
    font-family: 'FutureShit', sans-serif;  /* Aplicar la fuente personalizada */
    color: lightgray;  /* Color del texto */
    font-size: 20px;  /* Tamaño del texto */
    
}

.textoMenuPrincipal {
    font-family: fantasy;
    text-decoration-color: darkred;
    font-size: 24px;
    color: black;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -320px;
    /*Inicialmente el menu aparece oculto*/
    width: 200px;
    height: 100%;
    background: linear-gradient(to top, #000000, #771CF3);
    padding: 20px;
    z-index: 2;
    border-radius: 5px;
    display: block;
    text-align: center;
    transition: left 1.0s ease;
    /*Agrega un efecto de transición suave en la apertura y cierre del menu*/
}

.side-menu img {
    margin-left: -10px;
    margin-bottom: 10px;
    width: 220px;
    height: 80px;
}

.side-menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    width: 200px;
    cursor: url('images/punteroMano.png'), auto;
}


.show-menu {
    left: 0;
    width: 200px;
}

.close-menu {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}

.descripcion {
    background-color: #771CF3;
    color: #fff;
    padding: 20px;
    /* Reduce el padding para disminuir la altura */
    text-align: center;
    opacity: 0.7;
}

.descripcion-content {
    max-width: 600px;
    margin: auto;
    height: 100px;
    /* Ajusta la altura según tus necesidades */
}

.descripcion h2 {
    font-size: 36px;
    text-decoration: underline;
    color: #fff;
}


.descripcion p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
}

.capturas {
    color: #AC74F9;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    width: 600px;
    height: auto;
    /*Con el auto la altura se ajusta sola al contenedor padre.*/
    margin: 0 auto;
    /*Centra horizontalmente las imágenes*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*Sombra del Contenedor*/
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0.85;
}

.captura-container {
    display: flex;
    /*Distribuye las imágenes horizontalmente*/
    justify-content: space-between;

}

.captura {
    width: 48%;
}

.capturas h2 {
    font-size: 24px;
}

.captura img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    /*Aplica esquinas redondeadas a la imagen*/
}


.videoGameplay {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    width: 600px;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
}


.video {
    text-align: center;
    margin-top: 20px;
}

.mapas {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    width: 600px;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer p {
    font-size: 14px;
}

footer audio {
    cursor: url('images/punteroMano.png'), auto;
}

/*EESTILO DEL BOTON DE DESCARGA*/
.contenedorBtnDescargar {
    border-radius: 5px;
    height: 100%;
    width: 230px;
    background-color: darkred;
    text-align: center;
    margin: auto;
    margin-top: 60px;
}

.btnDescargar a {
    cursor: url('images/punteroMano.png'), auto;
    text-decoration: none;
}

.btnDescargar {
    background: darkred;
    width: 230px;
    height: 50px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: yellow;
    padding: 7px;
    transition: all 0.6s;
    /* Usamos "all" para aplicar la transición a todas las propiedades */
}

.btnDescargar::before {
    content: "";
    top: 0;
    left: 0;
    font-weight: 700;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #00fffc, transparent);
    transform: translateX(-100%);
    transition: all 0.6s;
    position: absolute;
    padding: 7px;
}

.btnDescargar:hover {
    width: 240px;
    box-shadow: 0 0 25px 5px #00fffc;
    padding: 7px;
}

.btnDescargar:hover::before {
    transform: translateX(100%);
    padding: 7px;
    width: 240px;
}


/*ESTILO DE LOS BOTONES Y EL MENÚ*/
.contenedorBtnMenu {
    border-radius: 5px;
    width: 100%;
    background: black;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    display: block;
    /*Disposicion para mostrarlos uno debajo del otro */
    text-align: center;
    margin-bottom: 10px;
    /*Espacio vertical entre botones*/
}

.contenedorBtnMenu a {
    display: block;
    border-radius: 5px;
    width: 100%;
    background: darkred;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    cursor: url('images/punteroMano.png'), auto;
}

.contenedorBtnMenu::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #00fffc, transparent);
    transform: translateX(-100%);
    transition: 0.6s;
    position: absolute;
}

.contenedorBtnMenu:hover {
    background-color: darkred;
    color: darkred;
    box-shadow: 0 0 20px 5px #00fffc;
}

.contenedorBtnMenu:hover::before {
    transform: translateX(100%);

}


/*GESTION DE LOS DIVS E IMAGENES DE LAS REDES SOCIALES*/
.redesSociales {
    display: flex;
    justify-content: center;
    /*Centrar horizontalmente el contenido en el contenedor*/
    margin-top: 40px;
}

.red-social {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
}


.red-social img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    /*Efectos de transición en el cambio de tamaño, sombra y color de fondo*/
    border-radius: 40%;
    /*Para que las imágenes sean circulares*/
    cursor: url('images/punteroMano.png'), auto;
}

/*Efecto al pasar el cursor por encima*/
.red-social:hover img {
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(5, 5, 5, 0.5);
    /*Sombra al pasar el cursor por encima*/
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    /*Añade las transiciones al efecto de pasar el cursor por encima*/
    background-color: transparent;
}


/*ESTO ES PARA HACER UNA ANIMACION DE LOS ELEMENTOS AL HACER SCROLL*/
.animate {
    opacity: 0.8;
    transform: translateY(100px);
    transition: opacity 0.87s, transform 1.2s;
}

/* Muestra los elementos animados */
.animate.active {
    opacity: 0.8;
    transform: translateY(0);
}


/*RESPONSIVE*/
/*Estilos generales para pantallas de teléfonos móviles en horizontal*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .imagenTitulo img {
        width: 100%;
    }

    header {
        padding: 2%;
    }

    header h1 {
        font-size: 4%;
    }

    header p {
        font-size: 2%;
    }

    .side-menu {
        width: 100%;
        left: 0;
    }

    .contenedorBtnMenu a {
        width: 100%;
    }

    .red-social {
        margin-right: 2%;
        width: 6%;
        height: 6%;
    }

    .red-social img {
        width: 100%;
        height: 100%;
    }

    .requisitos {
        padding: 2%;
    }

    .requisitos h2 {
        font-size: 3%;
    }

    .requisitos li {
        font-size: 1.5%;
    }
}


/*Estilos generales para pantallas de teléfonos móviles en vertical*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait){
    .imagenTitulo img {
        width: 100%;
    }

    header {
        padding: 2%;
    }

    header h1 {
        font-size: 4%;
    }

    header p {
        font-size: 2%;
    }

    .side-menu {
        width: 100%;
        left: 0;
    }

    .contenedorBtnMenu a {
        width: 100%;
    }

    .red-social {
        margin-right: 2%;
        width: 6%;
        height: 6%;
    }

    .red-social img {
        width: 100%;
        height: 100%;
    }

    .requisitos {
        padding: 2%;
    }

    .requisitos h2 {
        font-size: 3%;
    }

    .requisitos li {
        font-size: 1.5%;
    }
}



/*Estilos generales para pantallas de tablets en horizontal*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1){
    header h1 {
        font-size: 5%;
    }

    header p {
        font-size: 2.5%;
    }

    .side-menu {
        width: 20%;
        left: -20%;
    }

    .contenedorBtnMenu a {
        width: 16%;
    }
}


/*Estilos generales para pantallas de tablets en vertical*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1){
    header h1 {
        font-size: 5%;
    }

    header p {
        font-size: 2.5%;
    }

    .side-menu {
        width: 20%;
        left: -20%;
    }

    .contenedorBtnMenu a {
        width: 16%;
    }
    .requisitos h2 {
        font-size: 4%;
    }

    .requisitos li {
        font-size: 2%;
    }
}