<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovellanos Rumble - Requisitos de Uso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='01-JovellanosRumbleRequisitos.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logoJovellanosRumble.png') }}">
</head>

<body>
    <header>
        <div class="imagenTitulo">
            <img src="{{ url_for('static', filename='images/tituloRequisitosHeader.jpg') }}" alt="">
        </div>
        <div class="header-content">
            <button id="menu-toggle" class="menu-toggle">&#9776; MENU</button>
        </div>
        <div id="side-menu" class="side-menu">
            <img src="{{ url_for('static', filename='images/tituloMenuFondoTransparente.png') }}" alt="Menú Principal">
            <br>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('index') }}">Inicio-Descargar</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('requisitos') }}">Requisitos de Uso</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('capturas') }}">Personajes y Dojos</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('gameplay') }}">Gameplay</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('torneos') }}">Eventos - Torneos</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="https://jovellanosrumble.foroactivo.com/">Foro Oficial</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('controles') }}">Controles</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('faq') }}">Preguntas y Respuestas Frecuentes</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('privacidad') }}">Política de Privacidad</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('creditos') }}">Créditos - SAT</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('mostrar_datos_Torneos') }}">Jugadores Inscritos</a>
            </div>
        </div>
    </header>
    <section class="descripcion">
        <div class="descripcion-content">
            <h2><u>Requisitos del Sistema</u></h2>
            <p>Si tu PC no soporta Jovellanos Rumble, espabila y cómprate uno mejor.</p>
        </div>
    </section>
    <section class="requisitos">
        <h2>
            <p><u>Mínimo Recomendado Para Ejecutar Jovellanos Rumble</u></p>
        </h2>
        <ul>
            <li>Sistema Operativo: Windows 10 64 bits</li>
            <li>Procesador: Intel Core i5-6600K / AMD Ryzen 5 1600</li>
            <li>Memoria: 16 GB de RAM</li>
            <li>Gráficos: NVIDIA GeForce GTX 1060 3GB / AMD Radeon RX 580 4GB</li>
            <li>DirectX: Versión 11</li>
            <li>Almacenamiento: 50 GB de espacio disponible</li>
        </ul>
    </section>
    <section class="requisitos">
        <h2>
            <p><u>Mínimo Fisiológico Recomendado Para Jugar Jovellanos Rumble</u></p>
        </h2>
        <ul>
            <li>Tener 2 manos con al menos 3 dedos cada una</li>
            <li>Tener 1 ojo</li>
            <li>Saber leer y comprender (aunque solo sea para elegir la opcion del menu)</li>
            <li>Tener hechos los deberes del colegio / instituto o tener un 4.9 de media en DAM</li>
        </ul>
    </section>
    <br>
    <section class="redesSociales">
        <div class="red-social">
            <a href="https://www.youtube.com/channel/UCJhbY8vO6LOMaHAtg0m4sUQ">
                <img src="{{ url_for('static', filename='images/YouTube.png') }}" alt="YouTube">
            </a>
        </div>
        <div class="red-social">
            <a href="https://www.facebook.com/profile.php?id=61553519888539">
                <img src="{{ url_for('static', filename='images/MetaFacebook.png') }}" alt="FaceBook">
            </a>
        </div>
        <div class="red-social">
            <a href="https://twitter.com/JoveRumble ">
                <img src="{{ url_for('static', filename='images/TwitterX.png') }}" alt="Twitter">
            </a>
        </div>
        <div class="red-social">
            <a href="https://www.instagram.com/jovellanos_rumble/">
                <img src="{{ url_for('static', filename='images/Instagram.png') }}" alt="Instagram">
            </a>
        </div>
        <div class="red-social">
            <a href="https://es.wikipedia.org/wiki/HTML5">
                <img src="{{ url_for('static', filename='images/HTML5.png') }}" alt="HTML5">
            </a>
        </div>
    </section>
    <br>
    <footer>
        <div class="footer-content">
            <p>&copy; 2023 Jovellanos Rumble. Todos los derechos reservados. Desarrollado por FeliDani Soft.</p>
        </div>
    </footer>
    <script>
    /*TODO JAVASCRIPT*/
    //Eventos para manejar el menu dinamico
    const menuToggle = document.getElementById("menu-toggle");
    const sideMenu = document.getElementById("side-menu");

    menuToggle.addEventListener("click", () => {
        sideMenu.classList.toggle("show-menu");
    });

    menuToggle.addEventListener("mouseenter", () => {
        sideMenu.classList.add("show-menu");
    });

    sideMenu.addEventListener("mouseleave", () => {
        sideMenu.classList.remove("show-menu");
    });

    /*Evento para darle aspecto a los botones*/
    document.addEventListener("DOMContentLoaded", function() {
        var btnDescargar = document.getElementById("btnDescargar");

        //Función para mostrar y ocultar el botón durante 2 segundos
        function mostrarYDesaparecer() {
            var miBtn = document.getElementById("btnDescargar");
            miBtn.style.display = "flex"; //Mostrar el botón
            setTimeout(function() {
                miBtn.style.display = "none"; //Ocultar el botón después de 2 segundos
            }, 2000);
        }
        btnDescargar.addEventListener("click", mostrarYDesaparecer);
    });


    /*LOGICA DE LOS VINCULOS DE LAS REDES SOCIALES.*/
    var redesSociales = document.querySelectorAll('.red-social');
    redesSociales.forEach(redSocial => {
        redSocial.addEventListener('click', () => {
            const url = redSocial.querySelector('a').getAttribute('href');
            window.location.href = url;
        });
    });


    /*LOGICA PARA EL DELAY QUE TIENE EL TEXTO QUE SE GENERA POCO A POCO , EL TEXTO APARECERA FRASE A FRASE */
    document.addEventListener("DOMContentLoaded", function() {
        // Obtén la sección y elementos de la lista
        const requisitosSection = document.querySelector('.requisitos');
        const listaElementos = document.querySelectorAll('.requisitos li');

        // Función para mostrar los elementos con delay
        function mostrarElementosConDelay() {
            listaElementos.forEach((elemento, index) => {
                setTimeout(() => {
                    elemento.style.opacity = '1';
                    elemento.style.transform = 'translateY(0)';
                }, 400 * index); // Ajusta el valor del delay según tus necesidades
            });
        }

        // Muestra la sección con delay
        setTimeout(() => {
            requisitosSection.style.opacity = '1';
            mostrarElementosConDelay();
        }, 400); // Ajusta el valor del delay según tus necesidades
    });
    </script>
</body>

</html>