<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovellanos Rumble - Personajes Y Dojos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='02-JovellanosRumbleCapturas.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logoJovellanosRumble.png') }}">
</head>

<body>
    <header>
        <div class="imagenTitulo">
            <img src="static/images\tituloCapturasHeader.jpg" alt="">
        </div>
        <div class="header-content">
            <button id="menu-toggle" class="menu-toggle">&#9776; MENU</button>
        </div>
        <div id="side-menu" class="side-menu">
            <img src="{{ url_for('static', filename='images/tituloMenuFondoTransparente.png') }}" alt="Menú Principal">
            <br>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('index') }}">Inicio-Descargar</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('requisitos') }}">Requisitos de Uso</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('capturas') }}">Personajes y Dojos</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('gameplay') }}">Gameplay</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('torneos') }}">Eventos - Torneos</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="https://jovellanosrumble.foroactivo.com/">Foro Oficial</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('controles') }}">Controles</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('faq') }}">Preguntas y Respuestas Frecuentes</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('privacidad') }}">Política de Privacidad</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('creditos') }}">Créditos - SAT</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('mostrar_datos_Torneos') }}">Jugadores Inscritos</a>
            </div>
        </div>
    </header>
    <section class="descripcion">
        <div class="descripcion-content">
            <h2><u>Personajes Y Dojos Jovellanos Rumble</u></h2>
        </div>
    </section>
    <br>
    <div class="tituloPersonajes">
        <h2><u>Personajes</u></h2>
    </div>
    <section class="gameplayImagenes">
        <div class="imagen">
            <h2>El Gran Monstruo</h2>
            <img src="static/images/monstruo.gif" alt="Monstruo">
            <p>El Gran Monstruo es una criatura ancestral de dimensiones colosales que nació en el la era paleozoica, emerge de las sombras cada milenio para comer, desatando caos y anarquia.</p>
        </div>
        <div class="imagen">
            <h2>El Ninja Ruidoso</h2>
            <img src="static\images\ninja.gif" alt="Ninja">
            <p>El Ninja Esmirriado, un maestro sigiloso de las sombras , desafía las expectativas con su apariencia delgada pero ágil. Con destreza incomparable, se desliza entre enemigos como una sombra fugaz</p>
        </div>
        <div class="imagen">
            <h2>El Swat Del Palo</h2>
            <img src="static\images\swat.gif" alt="Swat">
            <p>Armado con un palo como arma principal, este miembro de las fuerzas especiales demuestra que la verdadera habilidad va más allá del equipo sofisticado. Con movimientos precisos, se enfrenta a desafíos con una elegancia inusual.</p>
        </div>
        <div class="imagen">
            <h2>El Medio Vampiro</h2>
            <img src="static\images\vampiro.gif" alt="Vampiro">
            <p>Hibrido de vampiro y humano que fusiona la elegancia y ferocidad de los vampiros con la resistencia y determinación de los humanos. Con habilidades sobrenaturales y una sed de poder, este ser navega entre dos mundos.</p>
        </div>
    </section>

    <div class="tituloPersonajes">
        <h2><u>Dojos</u></h2>
    </div>
    <section class="dojosImagenes">
        <div class="dojosimagen">
            <h2>El Dojo del Dragón</h2>
            <img src="static/images/mapa1.jpg" alt="mapa1">
            <p>Un lugar místico suspendido en el aire donde la sabiduría ancestral y la destreza marcial se entrelazan en una danza etérea. Este dojo único desafía las leyes de la gravedad, creando un escenario impresionante para el entrenamiento de guerreros excepcionales.</p>
        </div>
        <div class="dojosimagen">
            <h2>El Templo Aéreo de Kazukito</h2>
            <img src="static/images/mapa2.jpg" alt="mapa1">
            <p> un enclave majestuoso en las alturas donde la espiritualidad y la maestría en el arte del vuelo convergen en perfecta armonía. Este templo flotante, sostenido por corrientes de aire sagradas, es el hogar de la milenaria orden de guerreros aéreos.</p>
        </div>
    </section>



    <section class="redesSociales">
        <div class="red-social">
            <a href="https://www.youtube.com/channel/UCJhbY8vO6LOMaHAtg0m4sUQ">
                <img src="{{ url_for('static', filename='images/YouTube.png') }}" alt="YouTube">
            </a>
        </div>
        <div class="red-social">
            <a href="https://www.facebook.com/profile.php?id=61553519888539">
                <img src="{{ url_for('static', filename='images/MetaFacebook.png') }}" alt="FaceBook">
            </a>
        </div>
        <div class="red-social">
            <a href="https://twitter.com/JoveRumble ">
                <img src="{{ url_for('static', filename='images/TwitterX.png') }}" alt="Twitter">
            </a>
        </div>
        <div class="red-social">
            <a href="https://www.instagram.com/jovellanos_rumble/">
                <img src="{{ url_for('static', filename='images/Instagram.png') }}" alt="Instagram">
            </a>
        </div>
        <div class="red-social">
            <a href="https://es.wikipedia.org/wiki/HTML5">
                <img src="{{ url_for('static', filename='images/HTML5.png') }}" alt="HTML5">
            </a>
        </div>
    </section>
    <br>
    <footer>
        <div class="footer-content">
            <p>&copy; 2023 Jovellanos Rumble. Todos los derechos reservados. Desarrollado por FeliDani Soft.</p>
        </div>
    </footer>
    <script>
    /*TODO JAVASCRIPT*/
    //Eventos para manejar el menu dinamico
    const menuToggle = document.getElementById("menu-toggle");
    const sideMenu = document.getElementById("side-menu");

    menuToggle.addEventListener("click", () => {
        sideMenu.classList.toggle("show-menu");
    });

    menuToggle.addEventListener("mouseenter", () => {
        sideMenu.classList.add("show-menu");
    });

    sideMenu.addEventListener("mouseleave", () => {
        sideMenu.classList.remove("show-menu");
    });

    /*Evento para darle aspecto a los botones*/
    document.addEventListener("DOMContentLoaded", function() {
        var btnDescargar = document.getElementById("btnDescargar");

        //Función para mostrar y ocultar el botón durante 2 segundos
        function mostrarYDesaparecer() {
            var miBtn = document.getElementById("btnDescargar");
            miBtn.style.display = "flex"; //Mostrar el botón
            setTimeout(function() {
                miBtn.style.display = "none"; //Ocultar el botón después de 2 segundos
            }, 2000);
        }
        btnDescargar.addEventListener("click", mostrarYDesaparecer);
    });

    /*LOGICA DE LOS VINCULOS DE LAS REDES SOCIALES.*/
    var redesSociales = document.querySelectorAll('.red-social');
    redesSociales.forEach(redSocial => {
        redSocial.addEventListener('click', () => {
            const url = redSocial.querySelector('a').getAttribute('href');
            window.location.href = url;
        });
    });
    </script>
</body>

</html>