<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovellanos Rumble - Controles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='06-JovellanosRumbleControles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logoJovellanosRumble.png') }}">
</head>

<body>
    <header>
        <div class="imagenTitulo">
            <img src="static/images/tituloHeaderControles.png" alt="">
        </div>
        <div class="header-content">
            <button id="menu-toggle" class="menu-toggle">&#9776; MENU</button>
        </div>
        <div id="side-menu" class="side-menu">
            <img src="{{ url_for('static', filename='images/tituloMenuFondoTransparente.png') }}" alt="Menú Principal">
            <br>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('index') }}">Inicio-Descargar</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('requisitos') }}">Requisitos de Uso</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('capturas') }}">Personajes y Dojos</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('gameplay') }}">Gameplay</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('torneos') }}">Eventos - Torneos</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="https://jovellanosrumble.foroactivo.com/">Foro Oficial</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('controles') }}">Controles</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('faq') }}">Preguntas y Respuestas Frecuentes</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('privacidad') }}">Política de Privacidad</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('creditos') }}">Créditos - SAT</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('mostrar_datos_Torneos') }}">Jugadores Inscritos</a>
            </div>
        </div>
    </header>
    <section class="descripcion">
        <div class="descripcion-content">
            <h2><u>Controles de Jovellanos Rumble</u></h2>
        </div>
    </section>
    <section class="requisitos">
        <h2>
            <p><u>Recomendado utilizar teclado mecánico para molestar con el ruido</u></p>
        </h2>
        <ul>
            <li>Arriba: Tecla "W"</li>
            <li>Abajo: Tecla "S"</li>
            <li>Izquierda: Tecla "A"</li>
            <li>Derecha: Tecla "D"</li>
            <li>Salto: Tecla "Espacio"</li>
            <li>Ataque Fuerte: Click Derecho</li>
            <li>Ataque Débil: Click Izquierdo</li>
        </ul>
    </section>
    <br>
    <section class="redesSociales">
        <div class="red-social">
            <a href="https://www.youtube.com/channel/UCJhbY8vO6LOMaHAtg0m4sUQ">
                <img src="{{ url_for('static', filename='images/YouTube.png') }}" alt="YouTube">
            </a>
        </div>
        <div class="red-social">
            <a href="https://www.facebook.com/profile.php?id=61553519888539">
                <img src="{{ url_for('static', filename='images/MetaFacebook.png') }}" alt="FaceBook">
            </a>
        </div>
        <div class="red-social">
            <a href="https://twitter.com/JoveRumble ">
                <img src="{{ url_for('static', filename='images/TwitterX.png') }}" alt="Twitter">
            </a>
        </div>
        <div class="red-social">
            <a href="https://www.instagram.com/jovellanos_rumble/">
                <img src="{{ url_for('static', filename='images/Instagram.png') }}" alt="Instagram">
            </a>
        </div>
        <div class="red-social">
            <a href="https://es.wikipedia.org/wiki/HTML5">
                <img src="{{ url_for('static', filename='images/HTML5.png') }}" alt="HTML5">
            </a>
        </div>
    </section>
    <br>
    <footer>
        <div class="footer-content">
            <p>&copy; 2023 Jovellanos Rumble. Todos los derechos reservados. Desarrollado por FeliDani Soft.</p>
        </div>
    </footer>
    <script>
    /*TODO JAVASCRIPT*/
    //Eventos para manejar el menu dinamico
    const menuToggle = document.getElementById("menu-toggle");
    const sideMenu = document.getElementById("side-menu");

    menuToggle.addEventListener("click", () => {
        sideMenu.classList.toggle("show-menu");
    });

    menuToggle.addEventListener("mouseenter", () => {
        sideMenu.classList.add("show-menu");
    });

    sideMenu.addEventListener("mouseleave", () => {
        sideMenu.classList.remove("show-menu");
    });


    /*LOGICA PARA EL DELAY QUE TIENE EL TEXTO QUE SE GENERA POCO A POCO , EL TEXTO APARECERA FRASE A FRASE */
    document.addEventListener("DOMContentLoaded", function() {
        // Obtén la sección y elementos de la lista
        const requisitosSection = document.querySelector('.requisitos');
        const listaElementos = document.querySelectorAll('.requisitos li');

        // Función para mostrar los elementos con delay
        function mostrarElementosConDelay() {
            listaElementos.forEach((elemento, index) => {
                setTimeout(() => {
                    elemento.style.opacity = '1';
                    elemento.style.transform = 'translateY(0)';
                }, 900 * index);
            });
        }

        // Muestra la sección con delay
        setTimeout(() => {
            requisitosSection.style.opacity = '1';
            mostrarElementosConDelay();
        }, 900);
    });

    /*LOGICA DE LOS VINCULOS DE LAS REDES SOCIALES.*/
    var redesSociales = document.querySelectorAll('.red-social');
    redesSociales.forEach(redSocial => {
        redSocial.addEventListener('click', () => {
            const url = redSocial.querySelector('a').getAttribute('href');
            window.location.href = url;
        });
    });
    </script>
</body>

</html>