<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovellanos Rumble - FAQ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='07-JovellanosRumbleFAQ.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logoJovellanosRumble.png') }}">
</head>

<body>
    <header>
        <div class="imagenTitulo">
            <img src="static/images/tituloHeaderFAQ.png" alt="">
        </div>
        <div class="header-content">
            <button id="menu-toggle" class="menu-toggle">&#9776; MENU</button>
        </div>
        <div id="side-menu" class="side-menu">
            <img src="{{ url_for('static', filename='images/tituloMenuFondoTransparente.png') }}" alt="Menú Principal">
            <br>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('index') }}">Inicio-Descargar</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('requisitos') }}">Requisitos de Uso</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('capturas') }}">Personajes y Dojos</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('gameplay') }}">Gameplay</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('torneos') }}">Eventos - Torneos</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="https://jovellanosrumble.foroactivo.com/">Foro Oficial</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('controles') }}">Controles</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('faq') }}">Preguntas y Respuestas Frecuentes</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('privacidad') }}">Política de Privacidad</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('creditos') }}">Créditos - SAT</a>
            </div>
            <div class="contenedorBtnMenu">
                <a href="{{ url_for('mostrar_datos_Torneos') }}">Jugadores Inscritos</a>
            </div>
        </div>
    </header>
    <section class="descripcion">
        <div class="descripcion-content">
            <h2><u>Preguntas y Respuestas Frecuentes de Jovellanos Rumble</u></h2>
        </div>
    </section>
    <div class="contenedorPreguntas">
        <section class="requisitos">
            <h2>
                <p><u>¿Cuanto cuesta la suscripcion de Jovellanos Rumble?</u></p>
            </h2>
            <ul>
                <li>Nada</li>
            </ul>
        </section>
        <section class="requisitos">
            <h2>
                <p><u>¿A que rango de edad está dirigido Jovellanos Rumble?</u></p>
            </h2>
            <ul>
                <li>de 8 a 88 años</li>
            </ul>
        </section>
        <section class="requisitos">
            <h2>
                <p><u>¿Es el mejor juego del mundo mundial?</u></p>
            </h2>
            <ul>
                <li>No es posible demostrarlo pero os aseguro que si</li>
            </ul>
        </section>
        <section class="requisitos">
            <h2>
                <p><u>¿En que plataformas puedo jugar a Jovellanos Rumble?</u></p>
            </h2>
            <ul>
                <li>Solo en PC y da gracias...</li>
            </ul>
        </section>
        <section class="requisitos animate">
            <h2>
                <p><u>¿Puedo jugar con un mando usb?</u></p>
            </h2>
            <ul>
                <li>Ni idea</li>
            </ul>
        </section>
        <section class="requisitos animate">
            <h2>
                <p><u>¿Es 100% gratuito?</u></p>
            </h2>
            <ul>
                <li>Si, hasta que me de la neura y cambie de opinión</li>
            </ul>
        </section>
        <section class="requisitos animate">
            <h2>
                <p><u>¿Puedo jugar si padezco fotosensibilidad?</u></p>
            </h2>
            <ul>
                <li>A saber... pero si te pasa algo no nos hacemos responsables</li>
            </ul>
        </section>
        <section class="requisitos animate">
            <h2>
                <p><u>¿Puedo jugar a Jovellanos Rumble?</u></p>
            </h2>
            <ul>
                <li>Si tu hijo es manco , no, en cualquier otro caso, si le obligas, si</li>
            </ul>
        </section>
        <section class="requisitos animate">
            <h2>
                <p><u>¿Será Jovellanos Rumble el principal competidor de GTA VI?</u></p>
            </h2>
            <ul>
                <li>Ni en broma, GTA esta muy por encima de todo lo que se ha hecho hasta la actualidad</li>
            </ul>
        </section>
        <section class="requisitos animate">
            <h2>
                <p><u>¿Hay DLCS gratuitos para Jovellanos Rumble?</u></p>
            </h2>
            <ul>
                <li>No, Jovellanos es de la Old School, donde nadie compraba mejoras sino que las ganaba con paciencia y pericia. Una época mejor que esta para los videojuegos</li>
            </ul>
        </section>
        <section class="requisitos animate">
            <h2>
                <p><u>¿Hay miembros premium en Jovellanos Rumble?</u></p>
            </h2>
            <ul>
                <li>No, asi evitamos la ludopatia y la adicción</li>
            </ul>
        </section>
    </div>
    <br>
    <section class="redesSociales">
        <div class="red-social">
            <a href="https://www.youtube.com/channel/UCJhbY8vO6LOMaHAtg0m4sUQ">
                <img src="{{ url_for('static', filename='images/YouTube.png') }}" alt="YouTube">
            </a>
        </div>
        <div class="red-social">
            <a href="https://www.facebook.com/profile.php?id=61553519888539">
                <img src="{{ url_for('static', filename='images/MetaFacebook.png') }}" alt="FaceBook">
            </a>
        </div>
        <div class="red-social">
            <a href="https://twitter.com/JoveRumble ">
                <img src="{{ url_for('static', filename='images/TwitterX.png') }}" alt="Twitter">
            </a>
        </div>
        <div class="red-social">
            <a href="https://www.instagram.com/jovellanos_rumble/">
                <img src="{{ url_for('static', filename='images/Instagram.png') }}" alt="Instagram">
            </a>
        </div>
        <div class="red-social">
            <a href="https://es.wikipedia.org/wiki/HTML5">
                <img src="{{ url_for('static', filename='images/HTML5.png') }}" alt="HTML5">
            </a>
        </div>
    </section>
    <br>
    <footer>
        <div class="footer-content">
            <p>&copy; 2023 Jovellanos Rumble. Todos los derechos reservados. Desarrollado por FeliDani Soft.</p>
        </div>
    </footer>
    <script>
    /*TODO JAVASCRIPT*/
    //Eventos para manejar el menu dinamico
    const menuToggle = document.getElementById("menu-toggle");
    const sideMenu = document.getElementById("side-menu");

    menuToggle.addEventListener("click", () => {
        sideMenu.classList.toggle("show-menu");
    });

    menuToggle.addEventListener("mouseenter", () => {
        sideMenu.classList.add("show-menu");
    });

    sideMenu.addEventListener("mouseleave", () => {
        sideMenu.classList.remove("show-menu");
    });

    document.addEventListener("DOMContentLoaded", function() {
        var btnDescargar = document.getElementById("btnDescargar");

        //Función para mostrar y ocultar el botón durante 2 segundos
        function mostrarYDesaparecer() {
            var miBtn = document.getElementById("btnDescargar");
            miBtn.style.display = "flex"; //Mostrar el botón
            setTimeout(function() {
                miBtn.style.display = "none"; //Ocultar el botón después de 2 segundos
            }, 2000);
        }
        btnDescargar.addEventListener("click", mostrarYDesaparecer);
    });


    /*LOGICA PARA EL DELAY QUE TIENE EL TEXTO QUE SE GENERA POCO A POCO , EL TEXTO APARECERA FRASE A FRASE */
    document.addEventListener("DOMContentLoaded", function() {
        // Obtén la sección y elementos de la lista
        const requisitosSection = document.querySelector('.requisitos');
        const listaElementos = document.querySelectorAll('.requisitos li');

        // Función para mostrar los elementos con delay
        function mostrarElementosConDelay() {
            listaElementos.forEach((elemento, index) => {
                setTimeout(() => {
                    elemento.style.opacity = '1';
                    elemento.style.transform = 'translateY(0)';
                }, 600 * index);
            });
        }

        // Muestra la sección con delay
        setTimeout(() => {
            requisitosSection.style.opacity = '1';
            mostrarElementosConDelay();
        }, 600);
    });

    /*LOGICA DE LOS VINCULOS DE LAS REDES SOCIALES.*/
    var redesSociales = document.querySelectorAll('.red-social');
    redesSociales.forEach(redSocial => {
        redSocial.addEventListener('click', () => {
            const url = redSocial.querySelector('a').getAttribute('href');
            window.location.href = url;
        });
    });

    /*Logica de las animaciones al hacer scroll*/
    window.onscroll = function() {
        const elements = document.querySelectorAll('.animate');
        elements.forEach(element => {
            const elementTop = element.getBoundingClientRect().top;
            const windowHeight = window.innerHeight;
            if (elementTop < windowHeight) {
                element.classList.add('active');
            }
        });
    };
    </script>
</body>

</html>